@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");


.podcastTitle{
    background-image: url("https://dev.audpl.us/media/1a91c5da4266576e4287b8025d7e0588704b9264c38d8d866ed8dbc9/pNrUEY11f/odZyHY11q/PgdyHYO-cover-1920.jpeg");
    height: 52vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    /* top: 0; */
    /* position: fixed; */
    border-radius: 25px;
}
.Podcast{
    font-family: "Karma", sans-serif;
}
h1{
    color: white;
    font-size: 300%;
    margin-right: 40%;
}
.podcasts{
    font-size: 23px;
    margin-left: 23px;
}
p{
    font-size: 150%;
    color: white;
    margin-right: 40%;
    margin-top: 5%;
}
.mic{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin-top: 23px;
}
.episodes{
    display: flex;
    gap: 35%;
    margin-top: 2%;
    margin-left: 25%;
}
figcaption{
    font-size: larger;
}
@media screen and (max-width: 368px){
    .podcastTitle{
        background-image: url("https://dev.audpl.us/media/1a91c5da4266576e4287b8025d7e0588704b9264c38d8d866ed8dbc9/pNrUEY11f/odZyHY11q/PgdyHYO-cover-1920.jpeg");
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        top: 0;
        position: fixed;
        border-radius: 25px;
    }
    h1{
        color: white;
        font-size: 100%;
        margin-right: 40%;
    }
    p{
        font-size: 90%;
        color: white;
        margin-right: 40%;
        margin-top: 5%;
    }
    .mic{
        width: 60px;
    }
    .episodes{
        margin-bottom: 0%;
        gap: 35%;
        margin-top: 90%;
        margin-left: 15%;
    }
    figcaption{
        font-size: 15px;
    }
}
@media screen and (max-width: 390px){
    .podcastTitle{
        background-image: url("https://dev.audpl.us/media/1a91c5da4266576e4287b8025d7e0588704b9264c38d8d866ed8dbc9/pNrUEY11f/odZyHY11q/PgdyHYO-cover-1920.jpeg");
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        top: 0;
        position: fixed;
        border-radius: 25px;
    }
    h1{
        color: white;
        font-size: 100%;
        margin-right: 40%;
    }
    p{
        font-size: 90%;
        color: white;
        margin-right: 40%;
        margin-top: 5%;
    }
    .mic{
        width: 60px;
    }
    .episodes{
        margin-bottom: 0%;
        gap: 35%;
        margin-top: 90%;
        margin-left: 15%;
    }
    figcaption{
        font-size: 15px;
    }
}
@media screen and (max-width: 868px){
    .podcastTitle{
        background-image: url("https://dev.audpl.us/media/1a91c5da4266576e4287b8025d7e0588704b9264c38d8d866ed8dbc9/pNrUEY11f/odZyHY11q/PgdyHYO-cover-1920.jpeg");
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        top: 0;
        position: fixed;
        border-radius: 25px;
    }
    h1{
        color: white;
        font-size: 100%;
        margin-right: 40%;
    }
    p{
        font-size: 90%;
        color: white;
        margin-right: 40%;
        margin-top: 5%;
    }
    .mic{
        width: 60px;
    }
    .episodes{
        margin-bottom: 0%;
        gap: 35%;
        margin-top: 60%;
        margin-left: 15%;
    }
    figcaption{
        font-size: 15px;
    }
}
@media screen and (max-width: 1024px){
    .podcastTitle{
        background-image: url("https://dev.audpl.us/media/1a91c5da4266576e4287b8025d7e0588704b9264c38d8d866ed8dbc9/pNrUEY11f/odZyHY11q/PgdyHYO-cover-1920.jpeg");
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        top: 0;
        position: fixed;
        border-radius: 25px;
    }
    h1{
        color: white;
        font-size: 100%;
        margin-right: 40%;
    }
    p{
        font-size: 90%;
        color: white;
        margin-right: 40%;
        margin-top: 5%;
    }
    .mic{
        width: 60px;
    }
    .episodes{
        margin-bottom: 0%;
        gap: 35%;
        margin-top: 30%;
        margin-left: 15%;
    }
    figcaption{
        font-size: 15px;
    }
}