@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");

#footer{
    background-color: #040404;
    color: white;
    display: flex;
    gap: 9%;
    margin-top: 3px;
font-family: "Karma", sans-serif;
}
.social-pallatforms{
margin-left: 10%;
font-size: 23px;
}
#icon-images {
    display: flex;
    gap: 10%;
    margin-left: -24%;
    margin-top: 120px;
   font-size: 43px;
}
#social-heading{
    margin-left: 12%;
    font-size: 30px;
  
}
#quick-links{
    margin-left: -123px;
    font-size: 12px;
    color: white;
}
h3{
    font-size: 30px;
    margin-left: 133px;
}
#contact{
    margin-left: 14%;
    font-size: 12px;
}
#contact-us{
    margin-left: 4px;
}
#h1{
margin-left: 30%;
color: white;
font-size: 23px;
}
#p1{
    margin-left: -15%;
    font-size: 23px;
    color: white;
}